footer {
  border: 2px solid #9acd32;
  background-image: url(../../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  a {
    color: $white-color;
    &:hover {
      color: $secondary-text-color;
    }
    &.primary {
      color: $accent-color;
      font-weight: 700;
    }
  }
  .contacts {
    .socials {
      background: #fff;
    }
  }
  .copy {
    :first-child {
      color: $white-color;
      font-size: 16px;
      line-height: 1;
    }
    :last-child {
      font-size: 13px;
      line-height: 1;
      color: $grey-color;
    }
  }
}
